@media screen and (max-width: 1216px) {
    .item-desc__block {
        width: 170px;
    }

}

@media screen and (max-width: 1120px) {
    #think {
        position: absolute;
        opacity: 0.2;
        z-index: 0;
    }

    .price {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1050px) {
    .one_bg {
        background: url(../img/electrician.jpg) center center /cover no-repeat;
    }

    .header_about {
        display: none;
    }


    .three {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .work-wrap__item-desc.not-mobile {
        width: 90%;
        margin: 0 auto;
    }

    .work-wrap__item-desc .item-desc__block:last-child {
        display: none;
    }

    .text-short {
        width: 90%;
        padding-left: 5px;
    }

    .header_work {
        display: none;
    }

    .header_contact {
        display: none;
    }

    .item-desc__block {
        width: 170px;
    }

    #think {
        position: absolute;
        opacity: 0.2;
    }

    .price {
        z-index: 1;
        width: 100%;
    }

    .client {
        width: 160px;
    }
}

@media screen and (max-width:950px) {
    .work-wrap__item-desc .item-desc__block:last-child {
        display: block;
    }

    .clients {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .only-mobile {
        display: block;
        width: 80vw;
        margin: 0 auto;
    }

    .not-mobile {
        display: none;
    }

    .clients .owl-carousel .owl-item img {
        width: 50%;
        height: auto;
        margin: 0 auto;


    }

    @media screen and (max-width:700px) {
        .header_cost {
            display: none;
        }


    }

    @media screen and (max-width:650px) {
        .offer {
            height: 300px;
        }


        .features-item li {
            width: 70%;
            margin-bottom: 1.5em;
        }

        .features-item {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        nav {
            display: none;
        }

        body {
            font-size: 12px;
        }

        .btn-bg-wrap .btn-modal .content {
            padding: 4px 4px 4px 4px;
        }

        .item-desc__block {
            width: 120px;
        }

        #callme {
            display: none;
        }

        .price {
            margin-right: 0;
        }

        .client {
            width: 75px;

        }

        .client img {
            width: 100px;

        }

        .feature-item-work h3::before {
            height: 100px;
            width: 100px;
        }

        .feature-item-guarantee h3::before {
            height: 100px;
            width: 100px;
        }

        .feature-item-price h3::before {
            height: 100px;
            width: 100px;
        }

        .text-short {
            width: 90%;
        }

        /* #think{
        display: none;
    } */
        .links {
            display: none;
        }

        #think {
            display: none;
        }

    }

    @media screen and (max-width:480px) {
        body {
            font-size: 11.5px;
            overflow-x: hidden;
        }

        .one_bg {
            background: url(../img/electrician.jpg) left center /cover no-repeat;
        }

        .btn-bg,
        .input-base,
        .tel {
            font-size: 1.5em;
        }

        .input-line {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;


        }

        .features-item li {
            width: 90%;
        }

        .btn-bg {
            width: 200px;
            margin-top: 20px;
        }

        .input-wrap-base {
            margin: 0 0 0 0;
        }

        .offer {
            text-align: center;
            margin: 0 auto;
            padding: 15px;
        }

        .price {
            border: none;
        }

        #think {
            display: none;
        }

        .work-wrap {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        .links-social {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .tlg-form {
            width: 100%;
        }

        .text-free {
            width: 100%;
        }

        .tlg-form .input-base,
        .tlg-form .btn-bg {
            width: 90%;
        }

        .links-social a {
            margin: 5px;
        }

        .contacts {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        .map {
            width: 100%;
            margin-bottom: 15px;
        }

        .contacts-adress {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
        }

        .clients {
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        .only-mobile {
            display: block;
            width: 80vw;
            margin: 0 auto;
        }

        .not-mobile {
            display: none;
        }

        .clients .owl-carousel .owl-item img {
            width: 50%;
            height: auto;
            margin: 0 auto;
        }

    }

    @media screen and (max-width:400px) {
        body {
            font-size: 10px;
            overflow-x: hidden;
        }
    }

    @media screen and (max-width:355px) {
        body {
            font-size: 9px;
            overflow-x: hidden;
        }
    }

    @media screen and (max-width:325px) {
        body {
            font-size: 8.5px;
            overflow-x: hidden;
        }
    }
}