/*------------------------------------*\
	General
\*------------------------------------*/

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input,
textarea,
button,
a {
    outline: none;
    border: none;
}

li {
    text-decoration: none;
    list-style: none;
}


body {
    background: #f8f8f8;
    font-style: normal;
    color: #1d1a23;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    margin-top: 54px;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, .07);
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, .07);
    position: fixed;
    top: 0;
    background: #1d1a24;
    z-index: 3;
    width: 100vw;

}

header::after {
    bottom: -19px;
    content: "";
    position: absolute;
    height: 36%;
    width: 100%;
    left: 0;
    background: url(../img/bg/brush.png) repeat-x left bottom;
}



.offer {
    text-align: left;
    margin-left: 40px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
}

.offer h2 {
    padding-bottom: 15px;
    font-size: 3em;
    word-spacing: .1em;
    line-height: 1;
}


#results1,
#results2 {
    margin-top: 15px;
    -webkit-animation: .5s;
            animation: .5s;
    text-transform: uppercase;
    color: #ffbb1c;
    font-weight: bold;
    font-size: 16px;
    word-spacing: .1em;
}

.glitch {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    text-transform: uppercase;
    position: relative;
    display: block;
}


.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    clip: rect(0, 0, 0, 0);
}

.glitch:before {
    left: -4px;
    text-shadow: 3px 0 #ff774d;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch:after {
    left: 4px;
    text-shadow: -3px 0 #ffbb1c;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

@-webkit-keyframes glitch-anim-1 {
    0% {
        clip: rect(51px, 510px, 18px, 0);
    }

    5.26316% {
        clip: rect(26px, 510px, 3px, 0);
    }

    10.52632% {
        clip: rect(16px, 510px, 50px, 0);
    }

    15.78947% {
        clip: rect(28px, 510px, 72px, 0);
    }

    21.05263% {
        clip: rect(22px, 510px, 33px, 0);
    }

    26.31579% {
        clip: rect(48px, 510px, 72px, 0);
    }

    31.57895% {
        clip: rect(75px, 510px, 84px, 0);
    }

    36.84211% {
        clip: rect(40px, 510px, 27px, 0);
    }

    42.10526% {
        clip: rect(71px, 510px, 44px, 0);
    }

    47.36842% {
        clip: rect(71px, 510px, 24px, 0);
    }

    52.63158% {
        clip: rect(18px, 510px, 68px, 0);
    }

    57.89474% {
        clip: rect(22px, 510px, 27px, 0);
    }

    63.15789% {
        clip: rect(82px, 510px, 8px, 0);
    }

    68.42105% {
        clip: rect(67px, 510px, 80px, 0);
    }

    73.68421% {
        clip: rect(10px, 510px, 36px, 0);
    }

    78.94737% {
        clip: rect(86px, 510px, 52px, 0);
    }

    84.21053% {
        clip: rect(76px, 510px, 75px, 0);
    }

    89.47368% {
        clip: rect(35px, 510px, 86px, 0);
    }

    94.73684% {
        clip: rect(21px, 510px, 91px, 0);
    }

    100% {
        clip: rect(48px, 510px, 6px, 0);
    }
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(51px, 510px, 18px, 0);
    }

    5.26316% {
        clip: rect(26px, 510px, 3px, 0);
    }

    10.52632% {
        clip: rect(16px, 510px, 50px, 0);
    }

    15.78947% {
        clip: rect(28px, 510px, 72px, 0);
    }

    21.05263% {
        clip: rect(22px, 510px, 33px, 0);
    }

    26.31579% {
        clip: rect(48px, 510px, 72px, 0);
    }

    31.57895% {
        clip: rect(75px, 510px, 84px, 0);
    }

    36.84211% {
        clip: rect(40px, 510px, 27px, 0);
    }

    42.10526% {
        clip: rect(71px, 510px, 44px, 0);
    }

    47.36842% {
        clip: rect(71px, 510px, 24px, 0);
    }

    52.63158% {
        clip: rect(18px, 510px, 68px, 0);
    }

    57.89474% {
        clip: rect(22px, 510px, 27px, 0);
    }

    63.15789% {
        clip: rect(82px, 510px, 8px, 0);
    }

    68.42105% {
        clip: rect(67px, 510px, 80px, 0);
    }

    73.68421% {
        clip: rect(10px, 510px, 36px, 0);
    }

    78.94737% {
        clip: rect(86px, 510px, 52px, 0);
    }

    84.21053% {
        clip: rect(76px, 510px, 75px, 0);
    }

    89.47368% {
        clip: rect(35px, 510px, 86px, 0);
    }

    94.73684% {
        clip: rect(21px, 510px, 91px, 0);
    }

    100% {
        clip: rect(48px, 510px, 6px, 0);
    }
}

@-webkit-keyframes glitch-anim-2 {
    0% {
        clip: rect(90px, 510px, 16px, 0);
    }

    5.26316% {
        clip: rect(20px, 510px, 53px, 0);
    }

    10.52632% {
        clip: rect(19px, 510px, 86px, 0);
    }

    15.78947% {
        clip: rect(34px, 510px, 20px, 0);
    }

    21.05263% {
        clip: rect(47px, 510px, 16px, 0);
    }

    26.31579% {
        clip: rect(71px, 510px, 52px, 0);
    }

    31.57895% {
        clip: rect(92px, 510px, 49px, 0);
    }

    36.84211% {
        clip: rect(25px, 510px, 54px, 0);
    }

    42.10526% {
        clip: rect(73px, 510px, 51px, 0);
    }

    47.36842% {
        clip: rect(25px, 510px, 50px, 0);
    }

    52.63158% {
        clip: rect(46px, 510px, 41px, 0);
    }

    57.89474% {
        clip: rect(88px, 510px, 60px, 0);
    }

    63.15789% {
        clip: rect(7px, 510px, 4px, 0);
    }

    68.42105% {
        clip: rect(63px, 510px, 44px, 0);
    }

    73.68421% {
        clip: rect(21px, 510px, 56px, 0);
    }

    78.94737% {
        clip: rect(47px, 510px, 57px, 0);
    }

    84.21053% {
        clip: rect(11px, 510px, 47px, 0);
    }

    89.47368% {
        clip: rect(27px, 510px, 70px, 0);
    }

    94.73684% {
        clip: rect(54px, 510px, 10px, 0);
    }

    100% {
        clip: rect(15px, 510px, 51px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(90px, 510px, 16px, 0);
    }

    5.26316% {
        clip: rect(20px, 510px, 53px, 0);
    }

    10.52632% {
        clip: rect(19px, 510px, 86px, 0);
    }

    15.78947% {
        clip: rect(34px, 510px, 20px, 0);
    }

    21.05263% {
        clip: rect(47px, 510px, 16px, 0);
    }

    26.31579% {
        clip: rect(71px, 510px, 52px, 0);
    }

    31.57895% {
        clip: rect(92px, 510px, 49px, 0);
    }

    36.84211% {
        clip: rect(25px, 510px, 54px, 0);
    }

    42.10526% {
        clip: rect(73px, 510px, 51px, 0);
    }

    47.36842% {
        clip: rect(25px, 510px, 50px, 0);
    }

    52.63158% {
        clip: rect(46px, 510px, 41px, 0);
    }

    57.89474% {
        clip: rect(88px, 510px, 60px, 0);
    }

    63.15789% {
        clip: rect(7px, 510px, 4px, 0);
    }

    68.42105% {
        clip: rect(63px, 510px, 44px, 0);
    }

    73.68421% {
        clip: rect(21px, 510px, 56px, 0);
    }

    78.94737% {
        clip: rect(47px, 510px, 57px, 0);
    }

    84.21053% {
        clip: rect(11px, 510px, 47px, 0);
    }

    89.47368% {
        clip: rect(27px, 510px, 70px, 0);
    }

    94.73684% {
        clip: rect(54px, 510px, 10px, 0);
    }

    100% {
        clip: rect(15px, 510px, 51px, 0);
    }
}



.offer p {
    padding: 15px 0;
    text-transform: lowercase;
}

nav ul,
.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.callme_me {
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff774d), to(#ffbb1c));
    background: linear-gradient(to top, #ff774d, #ffbb1c);
    color: #000;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

.callme_me:hover {
    color: #fff;
}

.one_bg {
    background-color: #f8f8f8;
    position: relative;
    background: url(../img/electrician.jpg) center center /cover no-repeat fixed;
}

.one_bg::after {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffbb1c), color-stop(8%, transparent));
    background: linear-gradient(0deg, #ffbb1c, transparent 8%);
    width: 100%;
    bottom: 0;
    height: 20%;
}

.two_bg {
    background-color: #ffbb1c;

}

.four_bg {
    background-color: #1d1a24;
    background-image: url(../img/bg/bg-black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.five_bg {
    background-color: #f8f8f8;

}

.seven_bg {
    background-color: #01a3d1;
}


.bg_footer {
    background-color: #1d1a24;
}

.bg_footer {
    position: relative;
}


.bg_footer::before {
    top: -31px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    content: "";
    position: absolute;
    height: 13%;
    width: 100%;
    left: 0;
    background: url(../img/bg/brush.png) repeat-x left bottom;
}

.two h2,
.three h2,
.four h2,
.five h2,
.six h2,
.seven h2,
footer h2 {
    font-size: 2.25em;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.four h2 {
    color: #f8f8f8;
}

footer h2 {
    color: #f8f8f8;
}

.features-item li {
    width: 30%;
    text-align: center;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #01a3d1;
    border-radius: 15px;
}

.features-item li:hover {
    -webkit-box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.2);
}

.features-item p {
    font-size: .875em;
}

.feature-item-work h3::before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    background-image: url(../img/icons/team.svg);
}

.feature-item-guarantee h3::before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    background-image: url(../img/icons/guarantee.svg);
}

.feature-item-price h3::before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    background-image: url(../img/icons/contract.svg);
}



nav ul li {
    margin: 20px;
    font-size: 1em;
    font-weight: 600;
}



nav a {
    font-size: .875em;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #f8f8f8;
}

nav a:hover {
    border: 2px solid #f8f8f8;
    opacity: .6;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;


}

.logo {
    width: auto;
    height: 50px;
}

.tel {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    letter-spacing: 1.14px;
    white-space: nowrap;

}

.tel a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f8f8f8;
}

.tel a svg {
    padding-right: 15px;


}

.tel :hover {
    opacity: .5;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;

}



#think {
    overflow: visible;
    -webkit-animation: shadow 2s infinite ease-in-out;
            animation: shadow 2s infinite ease-in-out;
    stroke: #01a3d1;
    stroke-width: 5px;
}

@-webkit-keyframes shadow {
    from {
        -webkit-filter: drop-shadow(0 0 3px rgba(255, 207, 94, 0.3));
                filter: drop-shadow(0 0 3px rgba(255, 207, 94, 0.3));
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    35% {
        -webkit-filter: drop-shadow(0 0 5px rgba(255, 207, 94, 0.5));
                filter: drop-shadow(0 0 5px rgba(255, 207, 94, 0.5));
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    70% {
        -webkit-filter: drop-shadow(0 0 10px rgba(255, 207, 94, 0.7));
                filter: drop-shadow(0 0 10px rgba(255, 207, 94, 0.7));
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    to {
        -webkit-filter: drop-shadow(0 0 0 rgba(255, 207, 94, 0.3));
                filter: drop-shadow(0 0 0 rgba(255, 207, 94, 0.3));
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

@keyframes shadow {
    from {
        -webkit-filter: drop-shadow(0 0 3px rgba(255, 207, 94, 0.3));
                filter: drop-shadow(0 0 3px rgba(255, 207, 94, 0.3));
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    35% {
        -webkit-filter: drop-shadow(0 0 5px rgba(255, 207, 94, 0.5));
                filter: drop-shadow(0 0 5px rgba(255, 207, 94, 0.5));
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    70% {
        -webkit-filter: drop-shadow(0 0 10px rgba(255, 207, 94, 0.7));
                filter: drop-shadow(0 0 10px rgba(255, 207, 94, 0.7));
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    to {
        -webkit-filter: drop-shadow(0 0 0 rgba(255, 207, 94, 0.3));
                filter: drop-shadow(0 0 0 rgba(255, 207, 94, 0.3));
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

.one,
.two,
.three,
.four,
.five,
.six,
.contacts,
.seven,
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 15px;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1260px;
    padding-right: 10px;
    padding-left: 10px;
}



.one {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}


.input-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
}


.input-wrap-base {
    width: 200px;
    border-radius: 2px;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    position: relative;
    outline: none;
    margin: 0 20px 0 0;
}

.input-base:hover {
    border: 2px solid #ffbb1c;
}

.input-base {
    font-size: 1.125em;
    color: #3d3d3d;
    width: 100%;
    height: 42px;
    text-align: center;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    letter-spacing: 0.1em;
    border-radius: 10px;
    border: none;
    border: solid 2px transparent;


}


.btn-bg-wrap {
    position: relative;
    display: inline-block;
}

.btn-bg-wrap2 {
    position: relative;
}

.btn-bg {
    font-size: .875em;
    color: #000;
    line-height: 46px;
    height: 46px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#ff774d), to(#ffbb1c));
    background: linear-gradient(to top, #ff774d, #ffbb1c);
    display: inline-block;
    padding: 0 25px 0 25px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
            box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    outline: none;
    position: relative;
    cursor: pointer;
    font-weight: bold;

}

.btn-bg:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff774d), to(#ffbb1c));
    background: linear-gradient(to top, #ff774d, #ffbb1c);
    color: #f8f8f8;
}



.btn-bg-wrap .btn-modal,
.btn-bg-wrap2 .btn-modal2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -120px;
    width: 240px;
    padding: 12px 0 0 0;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: default;
    z-index: 1;
}

.btn-bg-wrap .btn-modal .content:before,
.btn-bg-wrap2 .btn-modal2 .content:before {
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    left: 45%;
}

.btn-bg-wrap .btn-modal .content,
.btn-bg-wrap2 .btn-modal2 .content {
    background: #f8f8f8;
    padding: 16px 15px 15px 15px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
    position: relative;
    border-radius: 15px;
}

.btn-bg-wrap .btn-modal .content .text,
.btn-bg-wrap2 .btn-modal2 .content .text {
    font-size: .75em;
    color: #a7a7a7;
    line-height: 1;
    text-transform: lowercase;
    text-align: center;
}

.btn-bg-wrap .btn-modal .content .text .link,
.btn-bg-wrap2 .btn-modal2 .content .text .link {
    color: #01a3d1;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.work-wrap__item-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55%;
    padding: 10px;
    margin-right: 10px;
    background-color: #01a3d1;
    border-radius: 15px;

}


.item-desc__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 7px;
    width: 202px;
    -webkit-transition: .5s;
    transition: .5s;
}

.item-desc__block:hover {
    -webkit-box-shadow: 0 0 20px 2px #a7a7a7;
            box-shadow: 0 0 20px 2px #a7a7a7;
    border-radius: 15px;

}

.work-wrap__item-desc img {
    width: 202px;
    height: 115px;
    padding-bottom: 15px;

}

.work-wrap__item-desc p {
    font-size: .875em;
    color: #ffbb1c;
    font-weight: bold;
    text-align: center;
}

.owl-theme .item h4 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    text-align: center;
    color: transparent;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.owl-theme .item h4:hover {
    color: #f8f8f8;
    text-shadow: 2px 4px 3px #000, 4px 0px 14px #000, -2px -4px 10px #000;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
}

.owl-theme .item a {
    font-size: 1em;
    color: #000;
    border-radius: 10px;
    background: background: ;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    padding: 40px 25px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
            box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 86px;
    line-height: 1;
}

.owl-theme .item a span {
    font-size: .875em;
    font-style: italic;
}

.owl-theme .item a:hover {
    background: background: ;
    background: linear-gradient(45deg, #f09433 20%, #e6683c 55%, #dc2743 85%, #cc2366 90%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: #fff;

}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    width: 15px;
}



.clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.client {
    width: 175px;
    text-align: center;
    padding: 20px;
}

.client img {
    width: auto;
    height: 100%;
}

.client p {
    font-weight: bold;
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    -webkit-box-shadow: 0 0 25px 7px rgba(0, 0, 0, .1);
            box-shadow: 0 0 25px 7px rgba(0, 0, 0, .1);
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: grey;
    width: 100%;
}

.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.img-box {
    width: 25%;
    background: transparent;
    overflow: hidden;

}

.img-box img {
    display: block;
    margin: 5px auto;
    width: 50%;
}

.text-box {
    width: 75%;
    padding-left: 10px;
}

.text-box .title {
    font-weight: bold;
    font-size: 1em;
    color: #ffbb1c;
    line-height: 1;
    margin: 0 0 18px 0;
}

.text-box .time {

    font-size: .875em;
    color: #000;
    line-height: 1;
    margin: 0 0 15px 0;
}


.text-short p {
    font-size: .875em;
    color: #1d1a24;
    line-height: 1.3;
    margin: 0 0 15px 0;
}

.three {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0;
}

.text-short {
    width: 40%;
    padding-left: 20px;
}




.work-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;


}

.tlg-form {
    width: 45%;
}

.tlg-form h2 {

    margin-bottom: 0;
}


.text-free {
    width: 50%;
}


.text-free h2 {

    margin-bottom: 0;
}

.text-free p {
    color: #000;
    font-size: 1.125em;
    text-align: center;
}

.tlg-form p {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 15px;
    text-align: center;
}



.tlg-form .input-base,
.tlg-form .btn-bg {

    display: block;
    width: 75%;
    margin: 0 auto 15px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.tlg-form .input-base:hover,
.tlg-form .btn-bg:hover {
    border-left: 1px solid #ff774d;
    border-right: 1px solid #ffbb1c;
    border-top: 1px solid #ff774d;
    border-bottom: 1px solid #ffbb1c;
}

.links-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
}

.links-social a {
    padding: 0 25px 0 25px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
            box-shadow: 0 4px 10px 0 rgba(200, 98, 3, .25);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 10px;
    width: 150px;
    font-size: .75em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.links-social .vk {
    background-color: rgba(68, 106, 153, 1);
}

.links-social .vk:hover {
    background-color: rgba(68, 106, 153, .5);
    color: #000;
}

.links-social .mail {
    background-color: rgba(113, 194, 255, 1);

}

.links-social .mail:hover {
    background-color: rgba(113, 194, 255, .5);
    color: #000;
}

.links-social .mail img {
    width: 35px;
}

.another-communication {
    padding-top: 30px;
    text-align: center;
}

.contacts-adress {

    text-align: left;
    margin-left: 100px;
    color: #fff;
}

.contacts-adress a {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    margin-bottom: 15px;
    display: inline-block;
    color: #ffbb1c;
    border-bottom: 2px solid transparent;

}

.contacts-adress a:hover:first-child {
    opacity: .5;
}

.contacts-adress .adress-bold {
    font-weight: bold;
}

.contacts {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: auto;

}


.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social a:hover {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    border-bottom: 2px solid transparent;
}

.social a {
    margin-top: 20px;
    margin-bottom: 0;
}

.social img {
    width: 40px;
    background: transparent;
    border-radius: 10px;
    display: inherit;
}

.footer-bottom {
    margin-right: auto;
    font-size: .75em;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #f8f8f8;
    margin-right: auto;


}

.footer-bottom a {
    font-size: .75em;
    color: #f8f8f8;
    margin-right: 15px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid gray;
}

.footer-bottom a:hover {
    opacity: .5;
}



.sepa {
    padding: 0 10px;
}

.map {
    width: 50%;
}

#yamap0 {
    position: relative;
    min-height: 18rem;
    margin-bottom: 0 !important;
}

.only-mobile {
    display: none;
}

.price {
    padding: 20px 20px 0px 20px;
    min-height: 512px;
    border-radius: 5px;
    width: 45%;
    border: 5px solid #ffa800;
    background: transparent;
    color: #fff;
    margin-right: 50px;
    z-index: 1;
}

.price .title {
    text-align: center;
    margin-bottom: 15px;
}

.calc_title {
    font-size: 1.75em;
    color: #ffa800;
    margin: 0 0 20px;
}

.total span {
    color: #ffa800;
    font-weight: bold;

}

.calculator input[type="number"],
select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 10px;
}

.total {
    margin-bottom: 55px;
    margin-top: 15px;
}

.total-desc {
    font-size: .625em;
    text-align: justify;
    line-height: 1;
}

.total-desc a {
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    border-bottom: 1px dotted grey;
}

.total-desc a:hover {
    opacity: 0.5;
}

.calculator {
    line-height: 1;
    vertical-align: middle;
}

.enable-js {
    margin: 0 auto;
    padding: 12px 15px;
    background-color: #FFC107;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    width: 80vw;
    z-index: 4;
    position: absolute;		
    left: calc(50% - 80vw/2);
}