@font-face {
  font-family: 'MullerRegular';
  src: url('MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Muller';
  src: url('ofont.ru_Muller.eot');
  src: url('ofont.ru_Muller.eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_Muller.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

